* {
    margin: 0;
    padding: 0;
}

header {
    background-color: black;
    color: white;
    text-align: center;
    padding: 80px;
}

h1 {
    font-family: sans-serif;
    font-size: 5em;
    font-weight: bolder;
}

a {
    text-decoration: none;
    color: white;
}

main {
    padding: 10px;
    padding-top: 30px;
    font-family: cursive;
    font-size: 1.5em;
}

#joaninha {
    background-image: url(imagens/background001.jpg);
    background-position: center center;
    background-size: cover;
    background-attachment: fixed;
}

#livro {
    background-image: url(imagens/background002.jpg);
    background-position: center center;
    background-size: cover;
    background-attachment: fixed;
}

footer {
    padding: 5px;
    background-color: black;
    color: white;
    text-align: center;
}